services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db
    networks:
      - data-net

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: always
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
      ME_CONFIG_BASICAUTH_ENABLED: false
      # ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      # ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass
    networks:
      - data-net

networks:
  data-net:
    external: true

volumes:
  mongo-data:
